@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CMS with Indetity Management</h1>
    <pre>By default there is one User seeded with "Admin" role and along with it Country and city are created as well.
        People can register and they will be given "Normaluser" role where they can just view Users.
        Only Admin user can make other users Admin
        Only Admin can add new Countries and Cities
        </pre>
</div>
